#!/usr/bin/env zsh

alias cat='bat --paging never --decorations never --plain'
alias afk='pmset displaysleepnow'
alias pubkey="cat ~/.ssh/id_rsa.pub | pbcopy | echo '=> Public key copied to pasteboard.'"

