#!/usr/bin/env zsh

# Homebrew:
export HOMEBREW_NO_ANALYTICS=1  # disables statistics that brew collects

# === Code highlight ===
# https://github.com/zsh-users/zsh-syntax-highlighting

# We won't highlight code longer than 200 chars, because it is slow:
export ZSH_HIGHLIGHT_MAXLENGTH=200


# === PATH ===

# This should be the last line:
export PATH
