#!/usr/bin/env zsh

PATH="/usr/local/opt/gpg-agent/bin:$PATH"

export EDITOR="$(which zed)"

export GPG_TTY="$(tty)"
eval "$(gpg-agent --daemon --allow-preset-passphrase > /dev/null 2>&1)"

export HOMEBREW_NO_ANALYTICS=1  # disables statistics that brew collects

export ZSH_HIGHLIGHT_MAXLENGTH=200

export PATH
